.contact{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/mixed-gears5.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 2em , 1fr ,1fr;
    justify-items: center;
    align-items: center;
}

.form-title{
    color: white;
    font-size: 3em;
    font-family: 'Abhaya Libre', serif;
    justify-self: center;
}

.form-description{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.form{
    display: grid;
    grid-template-rows: 2em , fr ,1fr;
    grid-gap: 20px;
    justify-items: center;
}

label{
    font-size: 0;
    height: 1px;
}
.form-details{
    display: grid;
    grid-gap: 30px;
    justify-items: center;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-small{
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    height: 1.5em;
    border-bottom: 2px solid #ffffff2b;
    font-size: 4vh;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    outline: none;
}

.input-big{
    display: block;
    background-color: transparent !important;
    border-style: none;
    border: none;
    color: white;
    font-family: 'Abhaya Libre', serif;
    height: 4em;
    border-bottom: 2px solid #ffffff2b;
    font-size: 4vh;
    width: 100%;
    justify-content: start;
    text-align: start;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

::placeholder { 
    text-align: center;
    font-size: 4vh;
    font-family: 'Abhaya Libre', serif;
  }

  .send{
    display: grid;
    font-size: 1.2em;
    background-color: transparent;
    color: #fab949;
    border: 1px solid #fab949;
    font-family: 'Abhaya Libre', serif;
    border-radius: 9px;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    width: 6em;
    height: 2em;
    cursor: pointer;
    outline: none;
    margin-bottom: 10%;
  }


