.main{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0px, 2fr));
    overflow-x: hidden;
  }
  
  .home{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/web-design-2038872_960_720.jpg");
    display: grid;
    color: white;
    grid-template-rows: 10vh 20vh 30vh;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title{
    font-size: 6vh;
    grid-row-start: 2;
    align-self: end;
    font-family: 'Abhaya Libre', serif;
    justify-self: center;
    width: 82%;
    animation: fadein 4s;
    -moz-animation: fadein 4s; 
    -webkit-animation: fadein 4s; 
    -o-animation: fadein 4s;
    
  }
  
  .description{
    font-size: 2.8vh;
    text-size-adjust: auto;
    grid-row-start: 3;
    justify-self: center;
    width: 82%;
    font-family: 'Montserrat', sans-serif;
    animation: fadein 4s;
    -moz-animation: fadein 4s; 
    -webkit-animation: fadein 4s; 
    -o-animation: fadein 4s; 
  }
  
  .button-contact{
    font-size: 1.5em;
    background-color: transparent;
    grid-row-start: 4;
    color: white;
    justify-self: center;
    border-radius: 12px;
    border: 1px solid #fab949;
    color: #fab949;
    width: 9em;
    height: 2em;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    animation: fadein 4s;
    -moz-animation: fadein 4s; 
    -webkit-animation: fadein 4s; 
    -o-animation: fadein 4s; 
  }
  
  .button-contact:hover{
    background-color: #fab949;
    color: white;
  }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}