.nav-bar {
  position: fixed;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  width: 100%;
  z-index: 9999;
}

.regularSection {
  background-color: transparent;
}

.blackSection {
  background-color: rgba(0, 0, 0, .80);
}
#humbugger{
  display: none;
}
.humbugger-regular{
  border: 1px white solid;
  color: white;
}
.humbugger-gray{
  border: 1px #464646 solid;
  color: #464646;
}
.nav-items {
  justify-self: center;
  display: grid;
  align-self: center;
  font-size: 136%;
  font-family: 'Abhaya Libre', serif;
  cursor: pointer;
}

.active {
  border-bottom: 5px solid #fab949;
}

#logo {
  max-width: 30vw;
  max-height: 12vh;
}

@media (min-width: 800px) {
  .nav-items:hover {
    color: #fab949;
  }
}

@media (max-width: 700px) {
  .nav-items {
    margin-top: -2%;
    font-size: 1.6em;
    display : none;
  }
  .nav-bar {
    row-gap: 15px;
    grid-template-rows: repeat(auto-fill, minmax(5%, 1fr));
    grid-template-columns: none;
  }

  #humbugger{
    display: block;
    position: fixed;
    right: 0;
    background-color: transparent;
    margin: 10px;
    border-radius: 5px;
    height: 2em;
    width: 2em;
  }

  #FaBars{
    width: 100%;
    height: 100%;
  }
}