.nav-bar{
    position: fixed;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    width: 100%;
    z-index: 9999;
  }

  .regularSection{
    background-color: transparent;
  }

  .blackSection{
    background-color: rgba(0,0,0,.80);
  }
  
  .nav-items{
    justify-self: center;
    align-self: center;
    font-size: 136%;
    font-family: 'Abhaya Libre', serif;
    cursor: pointer;
  }

  .active{
    border-bottom: 5px solid #fab949;
  }
  
  #logo{
    max-width: 30vw;
    max-height: 12vh;
  }

  @media (min-width: 800px){

    .nav-items:hover{
      color : #fab949;
    }
  }