.NavBar{
    position: fixed;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    grid-template-rows: 64px;
  }
  
  .NavItems{
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .active{
    border-bottom: 5px solid #fab949;
  }
  
  .NavItems:hover{
    color : #fab949;
  }