.projects {
    display: block;
    width: 100vw;
    height: auto;
    justify-items: center;
}

.projects-title {
    color: #464647;
}

.labels {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.label {
    width: 7rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #464647;
    cursor: pointer;
}

.active-label {
    background-color: #fab949;
    color: white;
}

#ProjectCards {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
}

#ProjectCards-2-items {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
}

.cardItem {
    height: 20rem;
}

.card-description-disply-none {
    animation-name: fade-out;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.card-description-disply-block {
    display: block;
    position: fixed;
    animation-name: fade-in;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.card-description {
    background-color: white;
    position: fixed;
    width: 100%;
    opacity: 0.8;

}

.projects-title-des {
    position: relative;
    color: white;
    width: 80%;
    margin: 0 auto;
    background-color: #fab949;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.7rem;
    margin-top: 0;
}

.projects-details-des {
    position: relative;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.1rem;
    margin-top: 20px;
}

.projects-label-continer-des {
    position: relative;
    margin: 0 auto;
    width: 95%;
    grid-template-rows: repeat(2, 30%);
    grid-template-columns: repeat(3, 30%);
    grid-gap: 10px;
    justify-items: center;
}

.projects-label-des {
    position: relative;
    font-size: 0.8em;
    width: 4.3rem;
    height: 1rem;
    color: #fab949;
    background-color: transparent;
    border: 1px solid #fab949;
    font-family: 'Abhaya Libre', serif;
    border-radius: 9px;
    text-align: center;
    padding: 9px;
    font-weight: bolder;
    cursor: context-menu;
}

.projects-label-des-clor {
    position: relative;
    font-size: 0.8em;
    width: 4.3rem;
    height: 1rem;
    border: 1px solid #fab949;
    font-family: 'Abhaya Libre', serif;
    border-radius: 9px;
    text-align: center;
    padding: 9px;
    font-weight: bolder;
    color: white;
    background-color: #fab949;
    cursor: context-menu;
}

.button-continer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 10%;
    justify-items: center;
    justify-content: center;
}

.projects-buttons {
    width: 14vw;
    height: 2rem;
    background-color: black;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}


.projects-buttons-text {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;
    color: white;
    font-family: 'Abhaya Libre', serif;
    font-size: 1.3em;
    text-align: start;
    margin: 0 auto;
}

.projects-buttons-icon {
    color: #fab949;
}

.close-description-phon{
    position: fixed;
    z-index: 100;
    margin-top: 0px;
    height: 75%;
    width: 100%;
}

@keyframes fade-in {
    from {
        height: 0%;
        opacity: 0;
    }

    to {
        height: 100%;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    #ProjectCards {
        grid-template-columns: repeat(auto-fill, minmax(31vw, 1fr));
    }

    .projects-buttons {
        width: 19vw;
    }
}

@media (min-width: 320px) and (max-width: 700px) {
    #ProjectCards {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }

    .button-continer {
        grid-template-columns: repeat(2, 40%);
        margin-top: -2%;
    }

    .projects-buttons {
        width: 9rem;
    }

    .card-description {
        width: 101%;
    }

    .projects-buttons-text {
        font-size: 1.1em;
    }
}