.Projects{
    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 20px;
    margin-top: 120px;
  }
  
  .Box{
    display: grid;
    height: 3em;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(23em, 2fr));
    
  }
  
  .boxHeader{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 3em);
    justify-self: center;
    background-color: #a6abb6;
    border-radius: 5px 5px 0px 0px;
    
  }
  
  .boxImage{
    justify-self: center;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 8px 6px -6px black;
  }
  
  .boxContiner{
    display: grid;
    grid-template-rows: 10vh 34vh;
    grid-column-start: 2;
  }
  
  .white{
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
  
  .orange{
    background-color: #fab949;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
  
  .boxDesTitle{
    color: #fab949;
  }
  
  .boxDesP{
    color: #706f6f;
    font-weight: bold;
    font-size: 1em;
  }
  
  .orangeA{
    color: #fab949;
    font-weight: bold;
  }
  
  .Label{
    font-size: 1.5em;
    background-color: #fab949;
    color: white;
    border-radius: 5px;
    text-align: center;
    
  }
  
  .labelContiner{
    display: grid;
    grid-template-rows: repeat(2 ,1fr);
    grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
    grid-gap: 20px;
  }

  .unvisibalePointer{
    color: transparent;
    cursor: pointer;
    display: grid;
    justify-items: center;
  }

  .boxDesContiner{
    text-align: center;
  }

  @media (max-width: 1300px) {
    .boxContiner{
      display: grid;
      grid-template-rows: 10vh 34vh;
      grid-column-start: 1;
    }
}