@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

html {
    scroll-behavior: smooth;
  }

body{
    margin: 0 auto;
    overflow-x: hidden;
}

.app{
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}